*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}
body {
    /* display: grid; */
    grid-template-columns: auto 0px; 
  }
  /*----------------------------------------------------------------------*/
  .top {
    --offset: 50px; 
    
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self: end;
    margin-top: calc(120vh + var(--offset));
    
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;
  }
  /*-----------------------------------------------------------------------*/


a{text-decoration: none;
color: #3d257e;}
body{
    /* background-color: #F55946; */
    background-color: #f3f2f3;
}

.head-page{
    height: 100vh;
    background-image: url(../assets/images/bg.png);
    /* background-color: #271F44; */
    /* clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%); */
    
}
.header{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 25px;
}


.nav-list{
    list-style-type: none;
    display: flex;
    gap: 3.4rem;
    margin-right: 20px;
    font-weight: 500;

}
div.logo{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.nav-link a{
    font-weight: 500;
    text-decoration:none;
    color: #fff;
    font-family: 'Inter', roboto;
}
.nav-link a:hover{
    background-color: #F55946;
    border-radius: 10px;
    padding: 5px 10px;
    
}


.main-container-text{
    width: 30%;
    padding-left: 15px;
    float:left;
    font-family: 'Inter', roboto;
    color: #fff;
}
.main-container-text h1,
.our-service-title h1{
    margin-top: 10px;
    margin-bottom: 35px;
    letter-spacing: -1px;
    font-size: 44px;

}
.main-container-text p{
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1.2;
    margin-bottom: 20px;
}

.main-container-text a{
    display: inline-block;
    margin:40px 20px 0px 30px;
    border:2px solid #fff;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;  

}
.main-container-text a:hover{
    background-color: #F55946;
    
}

.main-container-img{
    float: right;
    width: 60%;
}
.main-img{
    width: 100%;
}
.clear{
    clear: both;
}
 .main-page{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}


.our-service-title h1{
    text-align: center;
    color: #3e3c56;
    font-size: 42px;
    margin-bottom: 25px;

}
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(100px, min-content));
    height: 100vh;
    gap: 50px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    margin: 0px 80px;
    
    
    
    
}
.courses .frontend,  
.courses .backend, 
.courses .java,
.courses .devops,  
.courses .networking, 
.courses .oop{
    
    background-color: #e9ecef;
    width: 90%;
    height: 98%;
    border: 2px solid #fff;
    border-radius: 25px;
    margin:0px auto 0px auto;
    

}


.courses .frontend .technologies,
.courses .backend .technologies,
.courses .java .technologies,
.courses .devops .technologies,
.courses .networking .technologies,
.courses .oop .technologies
{
    width: 100%;
    margin: 0px auto;
}

.courses .frontend ul,  
.courses .backend ul, 
.courses .java ul,
.courses .devops ul,  
.courses .networking ul, 
.courses .oop ul
{
    display: block;
    background-color: #e9ecef;
    list-style-position: inside;
    list-style-image: url('../assets/images/tick.png');
    margin: 20px auto;
    color: #3e3c56;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    

}


.courses .frontend a,
.courses .backend a,
.courses .java a,
.courses .devops a,
.courses .networking a,
.courses .oop a{
    
    background-color: #7c62ff;
    color: #f3f2f3;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Inter';
    
    width: 200px;
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0px auto;
}


.frontend:hover,
.backend:hover,
.java:hover,
.devops:hover,
.networking:hover,
.oop:hover{
    transform: scale(1.1);
    transition: transform 0.6s;
}





.courses .frontend .circle h2, 
.courses .backend .circle h2,
.courses .java .circle h2{
    color:#f3f2f3;
    margin-top: 0px;

}
.courses  .circle{
    position: relative;
    width: 100%;
    /* height: 50%; */
    background:#7c62ff;
    clip-path: circle(150px at center 0) ;
}




.about{
    height: 100vh;
    background-image: url(../assets/images/bg.png);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(100px, min-content));

    
}
.container-text {
    width: 70%;
    margin: 60px;
}
    .feedbacks{
        grid-column: 1/3;
        grid-row: 1/2;
    }
.feedbacks .feedback{
    font-size: 26px;
    text-align: left;
    width: 100%;
    color: #f3f2f3;
    margin: 30px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 20%;
}
 .container-text .feedback-2,
 .container-text .client {
    font-size: 36px;
    letter-spacing: -1px;
    color: #f3f2f3;
    margin-bottom: 35px;


}

.container-text p{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #f3f2f3;
    line-height: 1.7;
    margin-bottom: 100px;
    letter-spacing: 1.13;
}
.client h2{
    margin-bottom: 20px;
}
.container-image{
    position: relative;
    width:100%;
    display: block;
    margin: 0px auto;
    
}
.container-image img{
    width: 100%;
    position: absolute;
    bottom: 15%;

}


div.container-text{
    width: 90%;
    grid-column: 2/ 4;
    grid-row:1/2;
}




.contact{
    height: 130vh;
    width: 100%;
   
}
.contact h1{
    color: #3e3c56;
    font-size: 42px;
    font-family: 'Inter';
    text-align: center;
    margin:40px 0px
} 
.container-contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto-fill, minmax(40vh, min-content));
    width: 100%;
}

.contact-form{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/4;        
    border-radius: 50px;
        width: 100%;
        font-family: 'Inter';
}
#fname, #lname, #email, #phone{
    height: 140%;
}
.message-about {
    margin-top: 40px;
    margin-bottom: 20px;
}
.contact-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #b3b3b3; */
    grid-row: 2/3;
    grid-column: 2/3;
    border-radius: 25px;
    height: 55%;
   margin-right: 0px;
   margin-top: 100px;
   width: 100%;
    
}
.contact-social h2{
    color: #3e3c56;
    font-size: 32px;
    font-family: 'Inter';
    margin-bottom: 50px;
    text-align: center;
}
.contact-social p{
    color: #3e3c56;
    font-size: 16px;
    font-family: 'Inter';
    margin-bottom: 30px;
    text-align: center;
}

.what-course, 
.message-us {
display: flex;
flex-wrap: wrap;
gap: 0.6rem;
justify-content: space-around;
margin: 0px auto;}
.grid-center{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin: 0px auto;

}

.question-about{
    font-size: 22px;
    color: #3e3c56;
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

 
    .message-align{
        width: 55%;
        height: 100px;
        
    }

    .btn-send{
        text-align: center;
    }
    .button{display: inline-block;
        background-color: #7c62ff;
        padding: 20px 30px;
        border-radius: 30px;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 20px;
    }

  

    .contact-info ul {
        list-style-position: inside;
        list-style: none;
        margin-bottom: 40px;


    }
    .contact-info img, .social-info img{
        margin-right:15px ;
        width: 24px;
        height: 24px;
    }
    .social-info ul{
        display:flex;
        list-style-position: inside;
        list-style-type: none;
        gap: 2.2rem;
    }

   
 /*MEDIA SCREEN - RESPONSIVITY*/ 
/* --------- 
-----------------------------------------------*/
  /*Mobile*/
  @media screen and (max-width: 599px)  and (orientation:portrait){
       .head-page .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
      
    /* First Page */
  }
  .head-page .header .logo .logo1{
      width: 50px;
  }
  .main-container-img{
      width: 75%;
      margin: 0px auto;
  }
  .main-container-img p{
      text-align: center;
  }
  .main-container-text{
    font-size: 14px;
    width: 100%;
  }
  .main-container-text h1{
      font-size: 28px;
  }     
   .main-container-text a {margin:0px 20px 0px 30px;
    padding: 10px 15px;
    margin-bottom: 0px;}

    .center-button{
        display: inline;
        text-align: center;    }

 /* NAVIGATION */
  .nav ul{
      font-size: 16px;
      gap: 1.6rem;
      margin-top: 20px;
  }
  /* MAIN PART */
      .main-page{
          height: auto;
      }    
      .main-page .courses{
          display: flex;
          flex-wrap: wrap;
          height: auto;
      }
      /* ABOUT PART */
      .about .container-image{
          margin: 35px auto 0px auto;
          height: 20%;
      }
      .about .container-image img{
          position: relative;
          margin-top: 50px;
          width: 100%;
      }
      .about .container-text{
          grid-column: 1/span 10;
          grid-row: 2/3;
          width: 100%;
          margin: 0px;
      }
      .about .container-image{
          grid-column: 2/3;
          grid-row: 1/2;
          
      }
      .about .container-text .feedback-2{
          font-size: 30px;
      }
      .about .client h2{
          font-size: 32px;
          margin-bottom: 15px;
      }
      
     
      .paragraph-align{
          width: 100%;
         grid-column: 4/span 3;
         grid-row: 1/4;
      }
      .about .container-text p{
        font-size: 16px;

      }


      /* ------------------------------------CONTACT PART*/

      .contact .contact-form{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          
    grid-row: 1/2;
    grid-column: 1/3; 
    margin-left:5px; }
    
    .grid-center,.what-course, 
    .message-us {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: space-around;
    margin: 0px auto;
width: 100%;}

    .what-course{
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .fname, .lname, .email, .phone {
        gap: 2rem;
        }

    #fname, #lname, #email, #phone{
        height: 140%;
    }
   
   
    .question-about{
        font-size: 16px;
        text-align: center;
        margin-top: 40px;
    }
    .message-about{
        margin-top: 50px;
        margin-bottom: 0px
   
    }
    .message-align{
        margin: 10px 0px;
    }
    .btn-send {
      margin: 0px auto; }
   

    .contact .contact-social h2{
        font-size: 26px;
        text-align: center;
    }
    
        
  }
  /*Mobile -- max 820px in LANDSCAPE ORIENTATION includes Small*/
  @media screen and (max-width: 820px) and (orientation:landscape){
    /*Head PAGE*/ 
    .header{
          margin-bottom: 0px;
      }

      .header .logo{
          margin-top: 10px;
      }
      .header .logo .logo1{
          width: 50px;
      }.header .logo .logo2{
        width: 190px;
    }
    .nav-link a{
        font-size: 16px;
    }
    .nav-list{
        gap: 2.3rem;
    }
    .main-container-img{
        margin-top: 60px;
        width: 40%;
    }

    .main-container-text{
        width: 60%;
    }
    .main-container-text h1{
        font-size: 30px;
        margin-bottom:25px;
        }
    .main-container-text p{
        font-size: 18px;
        line-height: 1.4;
            }
    .main-container-text a{
            margin: 0px 20px;
            }
/* MAIN PART*/
        .courses .frontend ul, .courses .backend ul, .courses .java ul, .courses .devops ul, .courses .networking ul, .courses .oop ul {
                display: block;
                background-color: #e9ecef;
                list-style-position: inside;
                list-style-image: url(../assets/images/tick-reduced.png);
                margin: 20px auto;
                color: #3e3c56;
                font-weight: bold;
                font-size: 14px;
            }


        .our-service-title h1 {
             text-align: center;
             color: #3e3c56;
             font-size: 26px;
             margin-bottom: 5px;
                }


         .courses .frontend .circle h2, .courses .backend .circle h2, .courses .java .circle h2,
         .courses .devops .circle h2, .courses .networking .circle h2, .courses .oop .circle h2  {
             color: #f3f2f3;
             margin-top: 0px;
             font-size: 16px;
             border: 0px;
                }

                .courses .frontend a, .courses .backend a, .courses .java a, .courses .devops a, .courses .networking a, .courses .oop a {
                    background-color: #7c62ff;
                    color: #f3f2f3;
                    text-decoration: none;
                    font-size: 12px;
                    font-family: 'Inter';
                    width: 80px;
                    padding: 5px 8px;
                    border-radius: 20px;
                    box-sizing: border-box;
                    margin: 0px auto;
                }
            .courses{
                gap: 15px;
                height: auto;
            }

    /* ABOUT PART*/

    .container-image {
        position: relative;
        width: 70%;
        display: block;
        margin: 50px auto 0px auto;
    }
    .container-image img {
        width: 100%;
         position: relative;
  }
  .feedbacks {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 70px;}

    .feedbacks .feedback {
        font-size: 22px;
       margin-top: 60px;
        height: 20%;}

    .container-text .feedback-2 {
        font-size: 28px;
        letter-spacing: -1px;
        color: #f3f2f3;
        margin-top: 55px;
        margin-bottom: 15px;}

        .container-text p {
            font-size: 14px;
            font-family: 'Inter', sans-serif;
            color: #f3f2f3;
            line-height: 1.2;
            margin-bottom: 20px;
            letter-spacing: 1.13;}

            .container-text .client {
                font-size: 18px;
                letter-spacing: -1px;
                color: #f3f2f3;
                margin-bottom: 15px;}

/*CONTACT PART --------------------------------------------------------*/
.contact h1 {
    color: #3e3c56;
    font-size: 30px;
    font-family: 'Inter';
    text-align: center;
    margin: 40px 0px 20px 0px;
}
.question-about {
    font-size: 18px;
    color: #3e3c56;
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.contact-social h2 {
    color: #3e3c56;
    font-size: 26px;
    font-family: 'Inter';
    margin-bottom: 50px;
    text-align: center;
}

  }


/*Tablet Small  */
@media screen and (min-width: 600px)  and (orientation:portrait){
  
    /* Head PART*/
    .main-page{
        height: 80vh;
    }
   .fix-position{
       height: 80vh;
       display: grid;
       grid-template-columns:1fr 1fr; 
       grid-template-rows: repeat(auto-fill, minmax(40vh, min-content));
    }
    .header{
        margin-bottom: 0px;
    }

    .header .logo{
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .header .logo .logo1{
        width: 40px;
    }.header .logo .logo2{
      width: 150px;
  }
  .nav-link a{
      font-size: 16px;
  }
  .nav-list{
      gap: 1.4rem;
  }
  .main-container-img{
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 50px auto 0px auto;
    width: 100%;
  }
  .main-container-img .main-img{
      display: block;
    margin: -40px auto;
    width: 70%;
      
  }

  .main-container-text{
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
  }
 
  .main-container-text h1{
      font-size: 28px;
      margin-bottom:25px;
      }

    .center-button{
        text-align: center;    }

        .courses .frontend ul, .courses .backend ul, .courses .java ul, .courses .devops ul, .courses .networking ul, .courses .oop ul {
            display: block;
            background-color: #e9ecef;
            list-style-position: inside;
            list-style-image: url(../assets/images/tick-reduced.png);
            margin: 20px auto;
            color: #3e3c56;
            font-weight: bold;
            font-size: 16px;
            width: 100%;
        }


    .our-service-title h1 {
         text-align: center;
         color: #3e3c56;
         font-size: 36px;
         margin-bottom: 55px;
         margin-top: 30px;
            }


     .courses .frontend .circle h2, .courses .backend .circle h2, .courses .java .circle h2,
     .courses .devops .circle h2, .courses .networking .circle h2, .courses .oop .circle h2  {
         color: #f3f2f3;
         margin-top: 0px;
         font-size: 16px;
         border: 0px;
            }

            .courses .frontend a, .courses .backend a, .courses .java a, .courses .devops a, .courses .networking a, .courses .oop a {
                background-color: #7c62ff;
                color: #f3f2f3;
                text-decoration: none;
                font-size: 12px;
                font-family: 'Inter';
                width: 80px;
                padding: 5px 8px;
                border-radius: 20px;
                box-sizing: border-box;
                margin: 0px auto;
            }
        .courses{
            gap: 35px;
            height: auto;
            
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, minmax(100px, min-content));
                
                text-align: center;
                color: #fff;
                box-sizing: border-box;
                margin: 0px 20px;
            
        }

        /* ABOUT PART*/
        .about {
            height: 90vh;}

        .container-text .feedback-2, .container-text .client {
            font-size: 28px;
            letter-spacing: -1px;
            color: #f3f2f3;
            margin-bottom: 35px;
        }

        div.container-text {
            width: 90%;
            grid-column: 1/ 4;
            grid-row: 1/2;}

        .container-image {
            /* grid-row: 2/3; */
            /* grid-column: 1/2; */
            position: relative;
            left: 100%;
            width: 100%;
            margin-left: 50%;
            margin-bottom: 20%;

            
        }
        .container-image img{
        top: -100%;}

        .container-text .feedback-2{
            margin-top: 80px;
        }
        .container-text p{
            font-size: 16px;
            margin-bottom: 30%;
        }
}
/*Tablet Large -- LANDSCAPE*/
  @media screen and (min-width: 1023px)  and (orientation:landscape){  */
    
    .main-container-text h1 {
        font-size: 30px;
        margin-bottom: 35px;
        margin-top: 40px;
    }
    .main-container-text p {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 35px;
    }
    .main-container-img {
        width: 50%;
    }
    .main-container-text {
        width: 50%;
    }

    .our-service-title h1 {
        text-align: center;
        color: #3e3c56;
        font-size: 38px;
        margin-bottom: 15px;
    }
    .courses {
        gap: 45px;
        height: auto;
    }

    .container-text .feedback-2 {
        font-size: 28px;
        letter-spacing: -1px;
        color: #f3f2f3;
        margin-top: 15px;
        margin-bottom: 55px;
    }
    .container-text p {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        color: #f3f2f3;
        line-height: 1.7;
        margin-bottom: 70px;
        letter-spacing: 1.15;
    }
    .feedbacks .feedback {
        font-size: 38px;
        margin-top: 60px;
        margin-left: 10px;
        height: 20%;
    }
    .container-image img {
       
        bottom: 55%;
    }

}  
/*Tablet Large - PORTRAIT*/
@media screen and (min-width: 767px)  and (orientation:portrait){
    .main-container-text h1 {
        font-size: 44px;
        text-align: center;
        margin-bottom: 45px;
    }
    .main-page{
        height: 90vh;
    }

    .header .logo .logo1 {
        width: 75px;
    }
    .header .logo .logo2 {
        width: 230px;
    }
    .main-container-text p {
        font-size: 20px;
        line-height: 1.8;
        letter-spacing: 1.2;
        margin-bottom: 40px;
    }

    .courses .frontend ul, .courses .backend ul, .courses .java ul, .courses .devops ul, .courses .networking ul, .courses .oop ul {
        display: block;
        background-color: #e9ecef;
        list-style-position: inside;
        list-style-image: url(../assets/images/tick.png);
        margin: 20px auto;
        color: #3e3c56;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
    .courses .frontend, .courses .backend, .courses .java, .courses .devops, .courses .networking, .courses .oop {
        background-color: #e9ecef;
        width: 90%;
        height: 98%;
        border: 2px solid #fff;
        border-radius: 25px;
        margin: 0px auto 0px auto;
    }
    .courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(100px, min-content));
        height: 100vh;
        gap: 50px;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
        margin: 0px 20px;
    }
    .courses {
        gap: 45px;
        height: auto;
    }
    .courses .frontend .circle h2, .courses .backend .circle h2, .courses .java .circle h2,
    .courses .devops .circle h2, .courses .networking .circle h2, .courses .oop .circle h2 {
        color: #f3f2f3;
        margin-top: 0px;
        font-size: 24px;
    }
    .courses .frontend a, .courses .backend a, .courses .java a, .courses .devops a, .courses .networking a, .courses .oop a {
        background-color: #7c62ff;
        color: #f3f2f3;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Inter';
        width: 200px;
        padding: 10px 20px;
        border-radius: 20px;
        box-sizing: border-box;
        margin: 0px auto;}

        /*--------*/
        .feedbacks .feedback {
            font-size: 40px;
    }
    .container-text .feedback-2 {
        margin-top: 100px;
        font-size: 36px;
    }
    .container-text p {
        font-size: 20px;
        margin-bottom: 30%;
    }
    .container-image{
        position: relative;
        left: 100%;
        width: 100%;
        margin-left: 50%;
        margin-bottom: 20%;
        top: -200px;    }
    .container-image img {
        width: 100%;
    margin-top: 50px;
    }

}

/*Laptop/Desktop > */
 @media screen and (min-width: 1200px)  and (orientation:landscape){ 
    .main-container-text h1 {
        font-size: 40px;
        text-align: left;
        margin-bottom: 30px;
        margin-top: 55px;
    }

    .header .logo .logo1 {
        width: 65px;
    }
    .header .logo .logo2 {
        width: 240px;
    }
    .main-container-text p {
        font-size: 20px;
        line-height: 1.8;
        letter-spacing: 1.2;
        margin-bottom: 40px;
    }
    .main-container-text{
        width: 45%;
    }
    .main-container-img{
        width: 55%;
    }
    .nav-link a{
        font-size: 18px;
    }

    .feedbacks .feedback {
        font-size: 44px;
    }
    .container-image{
        width: 85%;
        margin-top: 60px;
    }
    .container-text .feedback-2 {
        font-size: 40px;
    }
    .container-text p {
        font-size: 26px;
        line-height: 1.8;
        margin-bottom: 100px;
    }
    .container-image img {
        bottom: 50px;
    }
} 
/*Large Deskopts landscape*/
@media screen and (min-width: 1600px)  and (orientation:landscape){
    .main-container-text h1 {
        font-size: 50px;
        text-align: left;
        margin-bottom: 30px;
        margin-top: 55px;
    }
    .header{
        width: 100%;
    }
    .head-page{
        width: 80%;
    }

    .header .logo .logo1 {
        width: 85px;
    }
    .header .logo .logo2 {
        width: 240px;
    }
    .main-container-text p {
        font-size: 28px;
        line-height: 1.8;
        letter-spacing: 1.2;
        margin-bottom: 40px;
    }
    .main-container-text{
        width: 40%;
    }
    .main-container-img{
        width: 60%;
        margin: 150px 0px 0px 0px;
    }
    .main-img {
        width: 80%;
        float: right;
    }
    
    
    .nav-list{
        gap:2rem;
    }
    .nav-link a{
        font-size: 20px;
    }

    .feedbacks .feedback {
        font-size: 44px;
    }
    .container-image{
        width: 85%;
        margin-top: 60px;
    }
    .container-text .feedback-2 {
        font-size: 40px;
    }
    .container-text p {
        font-size: 26px;
        line-height: 1.8;
        margin-bottom: 100px;
    }
    .container-image img {
        bottom: 50px;
    }  
    .main-page{
        width: 80%;
    }
    .our-service-title h1 {
        text-align: center;
        color: #3e3c56;
        font-size: 36px;
        margin-bottom: 50px;
    }

    .courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(100px, min-content));
        height: 80vh;
        width: 70%;
        gap:120px;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
        margin: 0px auto;    }

    .courses .frontend, .courses .backend, .courses .java, .courses .devops, .courses .networking, .courses .oop {
        background-color: #e9ecef;
        width: 90%;
        height: 98%;
        /* border: 2px solid #fff; */
        border-radius: 25px;
        /* margin: 0px auto 0px auto; */
    }
    .about{
        width: 80%;
    }

    .contact{
        height: 100vh;
        width: 80%;
    }
    /* .top{
        margin-left: 50px;
    } */
}
/*Large Deskopts portrait*/

@media screen and (min-width: 1023px)  and (orientation:portrait){
.head-page{
    height: 80vh;
}
.about{
    height: 60vh;
}
.contact{
    height: 50vh;
}
.main-page{
    height: 60vh;
}
.container-image img {
    width: 100%;
    position: absolute;
    bottom: 35%;
    right: 45%;
}
}
/*Large Deskopts portrait*/

@media screen and (min-width: 1079px)  and (orientation:portrait){
    .head-page{
        height: 70vh;
    }
    .about{
        height: 50vh;
    }
    .contact{
        height: 50vh;
    }
    .main-page{
        height: 40vh;
    }
    .container-image img {
        width: 100%;
        position: absolute;
        bottom: 35%;
        top: -250px;
        right: 45%;
    }
    }
    

